body {
  margin: 0;
  height: 300px;
}

html {
  display: flex;
  justify-content: center;
}

h1 {
  color: gold;
}

body {
  text-align: center;
  direction: rtl;
  padding: 20px;
  background-color: rgb(49, 19, 57);
}

header {
  background-color: rgb(49, 19, 57);
  color: white;
  padding: 40px;
  /* Increased padding for header */
  text-align: center;
}

nav {
  background-color: rgb(49, 19, 57);
  color: white;
  padding: 20px;
}


nav li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3;
}

nav a:hover {
  color: lightblue
}

h2 {

  text-align: left;
}

section {
  text-align: left;
}


footer {
  background-color: rgb(49, 19, 57);
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}